<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.github.muxmax.juggrnotesapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".presentation.di.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="juggr_notes_database.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>

        <activity
            android:name=".presentation.view.NotesOverviewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.NoteDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.view.NotesOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.NotesOverviewActivity"/>
        </activity>
    </application>

</manifest>
